.search {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search--center{
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.search--top{
  justify-content: center;
  align-items: flex-start;
}